deploy_applications
rest_api_with_mariaDB_Docker/backend
JavaScript_básico/sets.js
Logica_Basica/modelo
Functions_Avancado/desafio

sideTasksForTraining/calculadora_de_juros
sideTasksForTraining/ex_02
sideTasksForTraining/ex_09
sideTasksForTraining/ex_10
sideTasksForTraining/ex_11

JavaScript_básico/Aula_3/readme.md

zzzz_criaAluasAutomação
zzZ_ArquivosUteis/primeiro_boilerplate_ts_para_apis
TypescriptFirstSteps
