JavaScript_básico/sets.js
Logica_Basica/modelo
Functions_Avancado/desafio

js_node_npm_express_mongoDB/Aula_20
js_node_npm_express_mongoDB/Aula_21
js_node_npm_express_mongoDB/Aula_22
js_node_npm_express_mongoDB/Aula_23
js_node_npm_express_mongoDB/Aula_24

sideTasksForTraining/ex_02
sideTasksForTraining/ex_08
sideTasksForTraining/ex_09
sideTasksForTraining/ex_10
sideTasksForTraining/ex_11

js_node_schedule_project
zzzz_criaAluasAutomação
