<%- include('includes/header') -%>
<div>
	<h1>
		Erro <%= title %> : a página está em manutenção. A nossa equipe já foi
		avisda aguarde enquanto estamos dando a manutenção.
	</h1>
	<a href="/">Voltar para Home</a>
</div>
<%- include('includes/footer') -%>
