:root {
    --primary-color: rgb(5, 30, 59);
    --primary-color-darker: rgb(0, 18, 43);
    --secondary-color: rgb(241, 227, 163);
    --terciary-color: rgb(65, 105, 225);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 15px;
    background: var(--primary-color-darker);
    display: flex;
    align-items: center;
    justify-content: center;
}


form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    text-align: center;
}

form input {
    font-size: 1.15rem;
    height: 50px;
    padding: 0 20px;
    text-align: right;
}

form input:focus {
    outline: 1px solid var(--secondary-color);
}

form button {
    width: 100%;
    padding: 0.4rem 0.4rem;
    margin: 0;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(190, 190, 190);
}

.normal-blue {
    background-color: var(--terciary-color);
    color: #ffff;
}

.normal-blue:hover {
    color: black;
}

.normal-red {
    background-color: rgb(168, 40, 40);
    color: #ffff;
}

.normal-red:hover {
    color: black;
}

div.containerCalculusButton {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

div.column {
    display: flex;
    flex-direction: column;
    padding: 2px;
    row-gap: 0.3rem;
    column-gap: 0.3rem;
}
