@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--primary-color-100: rgb(65, 2, 184);
	--secondary-color-100: rgb(255, 255, 255);
	--secondary-color-75: rgb(216, 216, 216);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Cria responsividade para formulários, de formamais generalista */
.responsive-form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 0.7rem;
}

.responsive-form input {
	padding: 0.4rem;
}

.responsive-form button {
	margin-top: 0.5rem;
	padding: 0.4rem;
	background-color: var(--primary-color-100);
	color: var(--secondary-color-100);
	border: none;
	border-radius: 25px;
}

/* Cria um preset de desing para as mensseagens flash */

div.messagesFlash {
	background-color: rgba(214, 120, 120, 0.644);
	border: solid red 0.5px;
	color: var(--secondary-color-100);
	padding: 0.5rem;
	border-radius: 5rem;
	margin: 10px 0px;
}

/* trabalhando como o header */
header {
	display: flex;
	justify-content: space-between;
	background-color: var(--primary-color-100);
	color: var(--secondary-color-100);
	margin-bottom: 1.5rem;
}

header span.brandding-infos {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-width: 150px;
}

header span.brandding-infos img {
	width: 50%;
	border-radius: 50%;
	margin: 0.7rem;
}

header nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

header nav menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	font-family: 'Montserrat', sans-serif;
}

header nav menu span#burguer {
	/*coloca o icone do menu mobile*/
	display: none;
	color: var(--secondary-color-100);
	font-size: 2.3rem;
	background-color: var(--primary-color-100);
	padding: 0.5rem;
	border-radius: 25%;
	cursor: pointer;
}

header h1 {
	font-size: medium;
}

header a {
	color: var(--secondary-color-100);
	font-weight: 900;
	text-decoration: none;
}

header a.button-fake {
	color: var(--primary-color-100);
	background-color: var(--secondary-color-100);
	padding: 0.4rem;
	font-weight: 700;
	text-decoration: none;
	border-radius: 15%;
	border: none;
}

header a.button-fake:hover {
	background-color: var(--secondary-color-75);
}
/* adicionar responsividade  */

.hidden {
	display: none;
}

@media (max-width: 768px) {
	header nav menu {
		flex-direction: column;
		gap: 0;
	}

	header nav menu span#burguer {
		display: block;
	}

	header nav menu li {
		display: none;
	}

	header nav menu li.display-mobile {
		display: flex;
		flex-direction: column;
	}

	header a.button-fake {
		border-radius: 0;
		border: solid black 1px;
	}
}

/* trabalhando com o footer */

footer {
	background-color: var(--primary-color-100);
	color: var(--secondary-color-100);
	display: flex;
	flex-direction: column;
	/* position: absolute; */
	width: 100%;
	align-items: center;
	justify-content: center;
	/* bottom: 0; */
	padding: 1rem;
}

footer div span {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

/* trabalhando com a main da agenda */

main#agenda div.chamada {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	text-align: center;
}

main#agenda div.chamada h1 {
	margin-bottom: 0.7rem;
}

main#agenda table.responsiveTable {
	border-collapse: collapse;
	width: 50%;
}

main#agenda table.responsiveTable th,
td {
	border: 1px solid rgba(95, 91, 91, 0.822);
	padding: 10px;
}

@media (max-width: 768px) {
	main#agenda table.responsiveTable {
		border: 0;
		width: 85%;
	}

	main#agenda table.responsiveTable thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		width: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	main#agenda table.responsiveTable tr {
		border-bottom: 1px solid;
		display: block;
		margin-bottom: 0.7rem;
		padding: 0;
	}

	main#agenda table.responsiveTable td {
		border-bottom: 1px solid;
		display: block;
		font-size: 1rem;
		text-align: right;
	}

	main#agenda table.responsiveTable td::before {
		content: attr(data-label);
		float: left;
		font-weight: 500;
		font-size: 0.9rem;
	}
}

/* Trabalhando com a main do login e cadatro */

/* CTA = Call To Action */
main#login div.CTA {
	margin-bottom: 0.7rem;
	text-align: center;
}

main#register div.CTA {
	margin-bottom: 0.7rem;
	text-align: center;
}
