<%- include('includes/head') -%>
<%- include('includes/header') -%>
<div>
	<h1>
		Erro <%= title %> : a página está em manutenção. A nossa equipe já foi
		avisda aguarde enquanto estamos dando a manutenção.
	</h1>
	<h2><a href="/">Voltar para Home</a></h2>
	<h2>Ou assista a este video : </h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/hPr-Yc92qaY?si=aWtwboFIURSlSzg5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<%- include('includes/footer') -%>
