<%- include('includes/head') -%>
<%- include('includes/header') -%>

<main>
	<div>
		<h1>Agenda de Contatos</h1>
		<!-- Troque {usuário} pelo nome vindo do login da pessoa -->
		<p>Seja bem vindo {usuário}, aqui estão os seus contatos !</p>

		<div>O erro ou aviso será spamado aqui !</div>
	</div>

	<table>
		<tr>
			<td>Nome</td>
			<td>Sobrenome</td>
			<td>Nº</td>
			<td>Email</td>
		</tr>
	</table>
</main>

<%- include('includes/footer') -%>
