<%- include('includes/head') -%>
<%- include('includes/header') -%>

<main id="agenda">
	<div class="chamada">
		<h1>Agenda de Contatos</h1>
		<!-- Troque {usuário} pelo nome vindo do login da pessoa -->
		<p>Seja bem vindo {usuário}, aqui estão os seus contatos !</p>

		<div class="messagesFlash">O erro ou aviso será spamado aqui !</div>
	</div>

	<table class="responsiveTable">
		<thead>
			<tr>
				<th scope="col">Nome</th>
				<th scope="col">Sobrenome</th>
				<th scope="col">Nº</th>
				<th scope="col">Email</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td data-label="Nome"> teste</td>
				<td data-label="Sobrenome"> teste</td>
				<td data-label="Nº">teste</td>
				<td data-label="Email">teste@teste.com</td>
			</tr>

			<tr>
				<td data-label="Nome"> teste 2</td>
				<td data-label="Sobrenome"> teste2 khkhk jhjhk</td>
				<td data-label="Nº">testekpdbspjvasdp</td>
				<td data-label="Email">teste2@teste.com</td>
			</tr>

			<tr>
				<td data-label="Nome"> teste 2</td>
				<td data-label="Sobrenome"> teste2 khkhk jhjhk</td>
				<td data-label="Nº">testekpdbspjvasdp</td>
				<td data-label="Email">teste2@teste.com</td>
			</tr>
		</tbody>
	</table>
</main>

<%- include('includes/footer') -%>
