<%- include('includes/head') -%> <%- include('includes/header') -%>

<main id="index">
	<div class="CTA">
		<h1>Projeto prático Agenda</h1>
		<%- include('includes/messages') -%>
		<article class="long-texts">
			<p>
				Este projeto visa colocar em prática, conceitos vistos ao longo
				das sessões anteriores.
			</p>
			<p>
				Por se tratar de um projeto mais prático poucas coisas serão
				explicadas dentro do readme, ele na verdade servirá como um
				banco de tasks que deverão ser realizadas até a finalização
				deste projeto prático. Fique a vontade para entrar em contato
				com pessoas participantes da idealização dos estudos, caso tenha
				duvidas. deixaremos as informações referentes junto com a lista
				de tasks em uma guia separada para caso queira algo mais visual
				e personalizavel( já é esperado que saiba personalizar na altura
				deste campeonato rsrsrs).
			</p>
		</article>
	</div>
	<a href="/tasks" target="_blank" rel="noopener noreferrer" class="btn">
		Etapas de Desenvolvimento
	</a>
</main>

<%- include('includes/footer') -%>
