<%- include('includes/head') -%> <%- include('includes/header') -%>

<main id="tasksPage">
	<div class="CTA">
		<h1>Lista de tarefas :</h1>
	</div>

	<aside class="fixed-on-left">
		<button class="saveTasks">Salvar</button>
	</aside>

	<form
		action="/updatingTasks"
		method="post"
		class="responsive-form"
		id="tasksListForm"
	>
		<!-- indice de explicação para compreenção do funcionamento dos NAMES e IDs :
		 txexex when t identify task and x identify one number, the order of the Xs is (stepeindexTaskStepeindexSubtaskStep)
		 then t1e1e1 = task pertencent a first step of project and is a first subtask of a firts task
		-->

		<h2>Primeira etapa :</h2>
		<ul class="taskList" id="taskListPart1">
			<li>
				<input type="checkbox" name="t1e1" id="t1e1" />
				<label for="t1e1">
					Criar um header que contenha uma barra de navegação e uma
					logo fantasia;
				</label>
			</li>

			<li>
				<input type="checkbox" name="t1e2" id="t1e2" />
				<label for="t1e2">
					Criar um footer que contenha o nome do projeto, o ano em que
					está sendo feito e o autor que o desenvolveu;
				</label>
			</li>

			<li>
				<input type="checkbox" name="t1e3" id="t1e3" />
				<label for="t1e3">
					Desenvolver uma Página de erro a qual seja amigavel ao
					usuário; (Tenha a total liberdade criativa);
				</label>
			</li>

			<details>
				<summary>
					Desenvolver um template de como deverá ser o display da
					agenda :
				</summary>
				<ul class="taskList subtaskList" id="subtaskListPart1Level1">
					<li>
						<input type="checkbox" name="t1e4e1" id="t1e4e1" />
						<label for="t1e4e1">
							Deverá conter um título dizendo do que se trata as
							informações;
						</label>
					</li>

					<li>
						<input type="checkbox" name="t1e4e2" id="t1e4e2" />
						<label for="t1e4e2">
							Deverá conter uma frase explicando o que está
							ocorrendo para o usuário ou o confortando com boas
							vindas;
						</label>
					</li>

					<li>
						<input type="checkbox" name="t1e4e3" id="t1e4e3" />
						<label for="t1e4e3">
							Deverá conter uma div com erro ou informação (no
							momento ela não precisa ser integrada a nada, mas
							funcionará com as flash messages posteriormente);
						</label>
					</li>

					<li>
						<input type="checkbox" name="t1e4e4" id="t1e4e4" />
						<label for="t1e4e4">
							Uma tabela ou display para informações de contatos
							cadastrados;
						</label>
					</li>
				</ul>
			</details>

			<li>
				<input type="checkbox" name="t1e5" id="t1e5" />
				<label for="t1e5">
					Estilizar tudo que foi criado, e deixar responsivo, siga o
					padrão de desing mobile-first de preferência; (caso queira
					pode utilizar bootstrap);
				</label>
			</li>
		</ul>

		<h2>Segunda etapa :</h2>
		<ul class="taskList" id="taskListPart2">
			<li>
				<input type="checkbox" name="t2e1" id="t2e1" />
				<label for="t2e1">
					Criar uma rota que leve a uma página de login (apenas para
					renderizar);
				</label>
			</li>

			<li>
				<input type="checkbox" name="t2e2" id="t2e2" />
				<label for="t2e2">
					Criar formulários para cadastro, e login;
					<br />
					<em>
						Opcional: Criar uma subrota que leve para uma tela de
						cadastro separada da de login( em relação as partes
						lógicas, elas serão nas próximas etapas);
					</em>
				</label>
			</li>

			<li>
				<input type="checkbox" name="t2e3" id="t2e3" />
				<label for="t2e3">
					Caso ainda não o tenha feito, componentizar o head, header e
					o footer, para reuso continuo nas proximas etapas.
				</label>
			</li>
		</ul>

		<h2>Terceira etapa :</h2>
		<ul class="taskList" id="taskListPart3">
			<li>
				<input type="checkbox" name="t3e" id="t3e" />
				<label for="t3e"></label>
			</li>
		</ul>
	</form>
</main>

<%- include('includes/footer') -%>
