<%- include('includes/head') -%> <%- include('includes/header') -%>

<main id="tasksPage">
	<div class="CTA">
		<h1>Lista de tarefas :</h1>
	</div>

	<aside class="fixed-on-left">
		<button class="saveTasks">Salvar</button>
	</aside>

	<form
		action="/updatingTasks"
		method="post"
		class="responsive-form"
		id="tasksListForm"
	>
		<!-- indice de explicação para compreenção do funcionamento dos NAMES e IDs :
		 tx_x-x when t identify task and x identify one number, the order of the Xs is (step_indexTaskStep_indexSubtaskStep)
		 then t1_1_1 = task pertencent a first step of project and is a first subtask of a firts task
		-->

		<h2>Primeira etapa :</h2>
		<ul class="taskList" id="taskListPart1">
			<li>
				<input type="checkbox" name="t1_1" id="t1_1" />
				<label for="t1_1">
					Criar um header que contenha uma barra de navegação e uma
					logo fantasia;
				</label>
			</li>

			<li>
				<input type="checkbox" name="t1_2" id="t1_2" />
				<label for="t1_2">
					Criar um footer que contenha o nome do projeto, o ano em que
					está sendo feito e o autor que o desenvolveu;
				</label>
			</li>

			<li>
				<input type="checkbox" name="t1_3" id="t1_3" />
				<label for="t1_3">
					Desenvolver uma Página de erro a qual seja amigavel ao
					usuário; (Tenha a total liberdade criativa);
				</label>
			</li>

			<details>
				<summary>
					Desenvolver um template de como deverá ser o display da
					agenda :
				</summary>
				<ul class="taskList subtaskList" id="subtaskListPart1Level1">
					<li>
						<input type="checkbox" name="t1_4_1" id="t1_4_1" />
						<label for="t1_4_1">
							Deverá conter um título dizendo do que se trata as
							informações;
						</label>
					</li>

					<li>
						<input type="checkbox" name="t1_4_2" id="t1_4_2" />
						<label for="t1_4_2">
							Deverá conter uma frase explicando o que está
							ocorrendo para o usuário ou o confortando com boas
							vindas;
						</label>
					</li>

					<li>
						<input type="checkbox" name="t1_4_3" id="t1_4_3" />
						<label for="t1_4_3">
							Deverá conter uma div com erro ou informação (no
							momento ela não precisa ser integrada a nada, mas
							funcionará com as flash messages posteriormente);
						</label>
					</li>

					<li>
						<input type="checkbox" name="t1_4_4" id="t1_4_4" />
						<label for="t1_4_4">
							Uma tabela ou display para informações de contatos
							cadastrados;
						</label>
					</li>
				</ul>
			</details>

			<li>
				<input type="checkbox" name="t1_5" id="t1_5" />
				<label for="t1_5">
					Estilizar tudo que foi criado, e deixar responsivo, siga o
					padrão de desing mobile-first de preferência; (caso queira
					pode utilizar bootstrap);
				</label>
			</li>
		</ul>

		<h2>Segunda etapa :</h2>
		<ul class="taskList" id="taskListPart2">
			<li>
				<input type="checkbox" name="t2_1" id="t2_1" />
				<label for="t2_1">
					Criar uma rota que leve a uma página de login (apenas para
					renderizar);
				</label>
			</li>

			<li>
				<input type="checkbox" name="t2_2" id="t2_2" />
				<label for="t2_2">
					Criar formulários para cadastro, e login;
					<br />
					<em>
						Opcional: Criar uma subrota que leve para uma tela de
						cadastro separada da de login( em relação as partes
						lógicas, elas serão nas próximas etapas);
					</em>
				</label>
			</li>

			<li>
				<input type="checkbox" name="t2_3" id="t2_3" />
				<label for="t2_3">
					Caso ainda não o tenha feito, componentizar o head, header e
					o footer, para reuso continuo nas proximas etapas.
				</label>
			</li>
		</ul>

		<h2>Terceira etapa :</h2>
		<ul class="taskList" id="taskListPart3">
			<li>
				<input type="checkbox" name="t3_" id="t3_" />
				<label for="t3_"></label>
			</li>
		</ul>
	</form>
</main>

<%- include('includes/footer') -%>
