<header>
	<span class="brandding-infos">
		<img
			src="https://github.com/LucaFrioli.png"
			alt="Icone do desenvolvedor"
		/>
		<p>Agenda</p>
	</span>

	<nav id="burguerMenu">
		<menu>
			<span id="burguer" class="material-symbols-outlined">
				menu
			</span>
			<li class="normal">
				<a href="#" rel="noopener noreferrer" class="button-fake">
					link 1
				</a>
			</li>
			<li class="normal">
				<a href="#" rel="noopener noreferrer" class="button-fake">
					link 2
				</a>
			</li>
			<li class="normal">
				<a href="#" rel="noopener noreferrer" class="button-fake">
					link 3
				</a>
			</li>
		</menu>
	</nav>
</header>
