<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="eg=edge" />
		<meta name="description" content="projeto de desenvolvimento de uma agenda para treinar os conceitos aprendidos até o momento">
		<title>Schedule of Lucão - <%= title %></title>
	</head>
	<body>
