<header>
	<span class="brandding-infos">
		<img src="https://github.com/LucaFrioli.png" alt="Icone do desenvolvedor">
		<p>Agenda</p>
	</span>

	<nav>
		<ol>
			<li><a href="#" rel="noopener noreferrer" class="button-fake"> link 1</a></li>
			<li><a href="#" rel="noopener noreferrer" class="button-fake"> link 2</a></li>
			<li><a href="#" rel="noopener noreferrer" class="button-fake"> link 3</a></li>
		</ol>
	</nav>
</header>
