<header>
	<span>
		<img src="https://github.com/LucaFrioli.png" alt="Icone do desenvolvedor">
		<p>Agenda</p>
	</span>

	<nav>
		<ol>
			<li><a href="#" rel="noopener noreferrer"> link 1</a></li>
			<li><a href="#" rel="noopener noreferrer"> link 2</a></li>
			<li><a href="#" rel="noopener noreferrer"> link 3</a></li>
		</ol>
	</nav>
</header>
