<header>
	<span class="brandding-infos">
		<% if(user){ %>
			<img
				src="https://github.com/LucaFrioli.png"
				alt="Icone do <%= user.email %>"
			/>
		<% } %>

		<h1>
			<a
				href="<%= title === 'index' ? '#' : '/'%>"
				rel="noopener noreferrer"
			>
				Agenda
			</a>
		</h1>
	</span>

	<nav id="burguerMenu">
		<menu>
			<span id="burguer" class="material-symbols-outlined"> menu </span>

			<% if(user){ %>
				<li class="normal">
					<a
						href="/logout"
						rel="noopener noreferrer"
						class="button-fake"
					>
						Logout
					</a>
				</li>

				<li class="normal">
					<a
						href="/settings"
						rel="noopener noreferrer"
						class="button-fake"
					>
						Settings
					</a>
				</li>
			<% } else {%>
				<li class="normal">
					<a
						href="<%= title === 'login'? '#': '/login' %>"
						rel="noopener noreferrer"
						class="button-fake"
					>
						Login
					</a>
				</li>
			<% } %>
		</menu>
	</nav>
</header>
